<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czw.demo.mapper.OrderMapper">

    <insert id="insertOrder">
        insert into t_order
        (order_name, order_describe)
        values (#{orderName}, #{orderDescribe})
    </insert>

</mapper>